body {
    background-color: rgb(49, 58, 66);
    color: rgb(187, 220, 248);
}

.project {
    display: flex;
    flex-flow: column;    
}

.task {
    border: solid 3px rgb(130, 193, 248);
    width: 23%;
    padding: .5%;
    border-radius: 10px;
}

.sort-button {
    width: 5%;
    border-radius: 10px;
    background-color: rgb(130, 193, 248);
    color: rgb(46, 54, 61);
    padding: .5%;
}